body {
  background-image: url("/Users/miko/Desktop/AVION/COURSE PROPER/HOMEWORK/Homework1/images/pexels-photo-2768398.jpeg");
  color: black;
  font: monospace;
  text-align: center;
  margin: 100;
}
h2 {
  color: black;
}
